"Month","Password","Network Name","#QRCode"
"January 2023","TWcWE9zG","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:TWcWE9zG;;"
"February 2023","jfaxYG9E","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:jfaxYG9E;;"
"March 2023","rnXD79Tk","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:rnXD79Tk;;"
"April 2023","BhPqeRZP","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:BhPqeRZP;;"
"May 2023","sAXG2sLe","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:sAXG2sLe;;"
"June 2023","1LUxD10K","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:1LUxD10K;;"
"July 2023","wpEygs5k","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:wpEygs5k;;"
"August 2023","SQFv3CjR","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:SQFv3CjR;;"
"September 2023","uJdLFwNF","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:uJdLFwNF;;"
"October 2023","uZ2mr6e4","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:uZ2mr6e4;;"
"November 2023","CqBJhE9R","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:CqBJhE9R;;"
"December 2023","scM6CGiX","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:scM6CGiX;;"
