"Month","Password","Network Name","#QRCode"
"January 2023","gNgs263S","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:gNgs263S;;"
"February 2023","mGcbY2BS","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:mGcbY2BS;;"
"March 2023","yQSqP2mR","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:yQSqP2mR;;"
"April 2023","cXExz59U","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:cXExz59U;;"
"May 2023","p9zqSuOq","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:p9zqSuOq;;"
"June 2023","yF9n0lpM","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:yF9n0lpM;;"
"July 2023","qSswdjEp","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:qSswdjEp;;"
"August 2023","8t8f2bLi","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:8t8f2bLi;;"
"September 2023","ytr1VZfE","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:ytr1VZfE;;"
"October 2023","n9c0iXv7","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:n9c0iXv7;;"
"November 2023","soGBvMSJ","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:soGBvMSJ;;"
"December 2023","3X37cAe7","Your-SSID","WIFI:S:Your-SSID;T:WPA;P:3X37cAe7;;"
